<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo ao meu DOMINIO {{saudacao}}, welcome!!!</h1>
    <p>Você acessou o meu DOMINIO {{visitas}} vezes, você não tem muito o que fazer.</p>
    <p><a href="/nome/Jonh Lenon">Clique aqui pra virar um Beatle</a></p>
    <P>Ou escreva /nome/SEU_NOME na URL copia e cola ai</P>
    <p><a href="/login">Ir para Login</a></p>
</body>
</html>